
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1040; 
}

.modal-content {
    z-index: 1050; 
}

.modal-body {
    overflow-y: auto; 
}

body.modal-open {
    filter: blur(5px);
}
